/Youtube/Nightwatch/node_modules/

node_modules/
/Udemy/NodeJS-TheCompleGuide/4_ImproveWorkflowAndDebugging/message.txt

dist/
.parcel-cache/
.idea/codeStyles/codeStyleConfig.xml
.idea/git_toolbox_prj.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/udemy-javascript.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/
.idea\

.cache/

.DS_Store
