.product-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    display: block;
    width: 100%;
}
.form-control input {
    border: 2px solid #100719;
    font: inherit;
    border-radius: 2px;
}
button {
    font: inherit;
    border: 2px solid #100719;
    color: #100719;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #100719;
    color: white;
}
